body {
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 0px 87px;
  width: 1124px;
  margin: 0 auto;
}

.header__item {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  align-items: center;
  display: flex;
}

.header__login {
  padding: 14px 20px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  margin-right: 15px;
  font-weight: 700;
  font-size: 13px;
  color: #1d1d1d;
  line-height: 24px;
}
.header__login:focus {
  outline: none;
}
.header__login:hover {
  box-shadow: 0px 3px 5px #e0e0e0;
}

.header__store {
  padding-top: 21px;
  height: 72px;
}

.main__item {
  padding-top: 32px;
  padding-bottom: 80px;
}

.main__search {
  padding-bottom: 56px;
}
.main__search [type=search] {
  width: 100%;
  height: 48px;
  border: none;
  padding: 0px 8px;
  border-bottom: 1px solid #979797;
}
.main__search input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #626262;
  line-height: 24px;
  font: 400 16px "Roboto";
}
.main__search input:focus {
  outline: none;
}

.main__content {
  padding-top: 16px;
}

.main__title {
  font-weight: 400;
  font-size: 22px;
  color: #1d1d1d;
  line-height: 34px;
}

.row > section {
  width: 100%;
  padding: 0px 8px 20px 8px;
}
.row > section img {
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.title {
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1d;
  line-height: 24px;
}

.subtitle {
  padding-top: 4px;
  font-weight: 400;
  font-size: 14px;
  color: #626262;
  line-height: 21px;
}

.time {
  padding-top: 4px;
  font-weight: 400;
  font-size: 13px;
  color: #1d1d1d;
  line-height: 21px;
}

footer {
  background-color: #000000;
  position: relative;
}

.footer__logo {
  padding-top: 56px;
  padding-bottom: 40px;
  border-bottom: 1px solid #979797;
}

.footer__info {
  display: flex;
  border-bottom: 1px solid #979797;
  padding-top: 32px;
}

.footer__columns {
  width: 33%;
  color: #e0e0e0;
}
.footer__columns span {
  color: #49a144;
}
.footer__columns div {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 21px;
}
.footer__columns a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  line-height: 40px;
}
.footer__columns a:hover {
  color: #979797;
}

.footer__language {
  margin: 0px 0px 32px 0px;
}

.footer__links {
  display: flex;
  margin-bottom: 60px;
}
.footer__links a {
  margin-right: 12px;
}

.fab {
  font-size: 25px;
  color: #979797;
}

.footer__download {
  margin-top: 41px;
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
}
.footer__download a:first-child {
  margin-right: 40px;
}

.footer__agreement {
  padding-top: 40px;
  display: flex;
  border-top: 1px solid #979797;
}

.footer__totop {
  content: "";
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #59bd5a;
  cursor: pointer;
}
.footer__totop .fas {
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
}