@import "mixin";
$grey: #e0e0e0;
$black: #1d1d1d;
$search: #979797;
$white: #ffffff;
body {
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// header
.header {
  box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.1);
}

.container {
  padding: 0px 87px;
  width: 1124px;
  margin: 0 auto;
}

.header__item {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons {
  align-items: center;
  display: flex;
  & button:hover {
    background-color: $grey;
  }
}
.header__login {
  padding: 14px 20px;
  border: 2px solid $grey;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  margin-right: 15px;
  cursor: pointer;
  @include font(700, 13, 24);
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0px 3px 5px $grey;
  }
}
.header__store {
  padding-top: 21px;
  height: 72px;
}

// advertising
.advertising {
  background: url(/Restaurant-website/img/store2/photo.png) no-repeat;
  background-size: cover;
}
.advertising__item {
  padding: 80px 0px;
}
.advertising__block {
  background-color: #fff;
  width: 389px;
  & h1 {
    padding: 38px 38px 54px 38px;
    @include font(400, 36, 20, #1d1d1d);
  }
}
.advertising__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 38px 38px 38px;
  & p {
    @include font(400, 14, 20, #626262);
  }
}
.advertising__time {
  @include font(400, 13, 20, $white);
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #262626;
}

//main
//main__filter
.main {
  background-color: rgba($color: #757575, $alpha: 0.2);
}
.main__item {
  padding: 32px 0px;
}
.main__filter {
  display: flex;
  justify-content: start;
}
.main__radio {
  margin-right: 40px;
  cursor: pointer;
  user-select: none;

  @include font(400, 16, 20, #626262);
  & input[type="radio"] {
    display: none;
    &:checked + label {
      color: #327430;
      font-weight: 700;
    }
  }
}
// snack

.snack .title {
  @include font(400, 22, 34, $black);
  margin-top: 56px;
  margin-bottom: 32px;
}
.row {
  margin-top: 50px;
  margin-bottom: 80px;
}
.row > section {
  width: 470px;
  padding: 0px;
  margin-bottom: 50px;
  text-decoration: none;
  & a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }
  & img {
    height: 160px;
    padding-right: 8px;
    background-repeat: no-repeat;
    object-fit: contain;
  }
}
.snack__text {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.snack__title {
  padding-top: 16px;
  @include font(400, 16, 24, $black);
}
.snack__subtitle {
  padding-top: 4px;
  @include font(400, 13, 21, #626262);
}
.snackt__prise {
  padding-top: 4px;
  @include font(500, 15, 21, $black);
}

// footer

footer {
  background-color: #000000;
  position: relative;
}
.footer__logo {
  padding-top: 56px;
  padding-bottom: 40px;
  border-bottom: 1px solid $search;
}

// footer__columns

.footer__info {
  display: flex;
  border-bottom: 1px solid $search;
  padding-top: 32px;
}
.footer__language {
  @include font(400, 13, 20, $white);
  background-color: #3b3b3b;
  border: none;
  padding: 10px 0px 10px 20px;
  width: 50%;
  font: 400 13.3333px "Roboto";
  border: 1px solid $search;
  font-size: 1em;
  &:focus {
    outline: none;
  }
}
.footer__columns {
  width: 33%;
  color: $grey;
  & span {
    color: #49a144;
  }
  & div {
    margin-bottom: 17px;
    @include font(400, 16, 21, $white);
  }
  & a {
    text-decoration: none;
    @include font(400, 13, 40, $white);
    &:hover {
      color: $search;
    }
  }
}

.footer__language {
  margin: 0px 0px 32px 0px;
}
.footer__links {
  display: flex;
  margin-bottom: 60px;
  & a {
    margin-right: 12px;
  }
}
.fab {
  font-size: 25px;
  color: $search;
}
.footer__download {
  margin-top: 41px;
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
  & a:first-child {
    margin-right: 40px;
  }
}
.footer__agreement {
  padding-top: 30px;
  display: flex;
  border-top: 1px solid $search;
  padding-bottom: 30px;
}
.footer__totop {
  content: "";
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #59bd5a;
  cursor: pointer;
  & .fas {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: $white;
  }
}
